<!DOCTYPE html>

<html>
	<head>
		<title>Local True Stories</title>
		
		<meta charset="utf-8">
		<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" media="screen, print" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="ROBOTS" content="INDEX,FOLLOW">
		<meta name="description" content="True stories from around the world." />
		<meta name="keywords" content="story,local legend,life vignette" />
	</head>
	
	<body>
		<header>
			<a href="/index"><h1>Local<span>True</span>Stories</h1></a>
		
			<h4>True stories from around the world.</h4>
		</header>

		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li><h3>{{ message }}</h3></li>
		{% endfor %}
		</ul>
	 	
	 	{% endif %}
	 	{% endwith %}
		
		{% block content %}{% endblock %}
	
	
	
	
	</body>
</html>