{% extends "base.html" %}

{% block content %} 
		
  <div id="links">

    <a href="/story/{{id1}}"><h2>{{story1}}</h2></a>
    <a href="/story/{{id2}}"><h2>{{story2}}</h2></a>
    <a href="/story/{{id3}}"><h2>{{story3}}</h2></a>
    <a href="/story/{{id4}}"><h2>{{story4}}</h2></a>
    <a href="/story/{{id5}}"><h2>{{story5}}</h2></a>
    <a href="/story/{{id6}}"><h2>{{story6}}</h2></a>
    <a href="/story/{{id7}}"><h2>{{story7}}</h2></a>
    <a href="/story/{{id8}}"><h2>{{story8}}</h2></a>
    <a href="/story/{{id9}}"><h2>{{story9}}</h2></a>
    <a href="/story/{{id10}}"><h2>{{story10}}</h2></a>

  </div>

  <div id="tell">

  <p>There are many true stories out there, creeping in the shadows, just waiting to get out. This is your chance.<p>
    
    <div id="button">
      <a href="/submit"><p>Share your amazing story</p></a>
    </div>
    
  </div>


{% endblock %}
		